.navbar{
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color:rgb(101, 88, 54);
  height:5vh;
  width:35%;
  border-radius:10px;
  padding:20px;
  margin-top:20px;
  margin-left:450px;
}

.navbar a{
  text-decoration:none;
  color:white;
  font-size:20px;
  margin:10px;
}